/* Reset */
	html, body, a, em, h1, h2, p, main, nav, ul {color: #000000; font-family: sans-serif; font-size: 1rem; font-weight: normal; hyphens: auto; line-height: normal; margin: 0px; overflow-y: scroll; padding: 0; text-align: center; text-decoration: none;}
/* Global elements */
	a {text-decoration: underline;}
		a:active, a:hover {color: #000000;}
	em {font-style: italic;}
	h1, h1 a, h2 {font-weight: normal;}
		h1, h1 a { font-size: 2rem; font-style: normal; margin: 1rem 0 0 0; text-decoration: none; }
		h2, h2 a, h2 em { font-size: 1.5rem; margin: 0.5rem 0 0.5rem 0; }
	img {max-width: 95%;}
		img.centered { max-height: 30rem; }
		img.thumbnail {height:10rem; padding:0.5em; cursor: pointer;}
	p {max-width: 60rem; font-size: 1rem; font-weight: normal; margin: 0 0.5rem 0.5rem 0.5rem; text-align: justify;}
		p::first-line { text-indent: 2rem; }
		p.centered {margin: 0.5rem auto 0.5rem auto;}
			p.centered::first-line {text-indent: 0;}
		p.small, p.small a {font-size: 0.6rem;}
	span.close_button { text-align: right; }
	ul {text-align: left; list-style-position: inside;}
/* Sectioning elements */
	header {margin: 0.5rem auto 1rem auto; max-width: 95%;}
		header h1, header h1 a {font-size: 3rem;}
	nav {margin: 0 auto 0 auto; display: flex; flex-wrap: wrap; justify-content: space-evenly;}
		nav a {margin: 0 1rem 0 1rem; font-size: 1.5rem;}
		nav a:first-child {margin-left: 0;}
	footer {margin: 1rem auto 1rem auto; max-width: 95%;}
	article {margin: 0 auto 0 auto; max-width: 60rem;}
		article h1, article h2 {text-align: left;}
/* Abstract classes */
	.allcaps { text-transform: uppercase; }
	.centered { text-align: center; }
	.hidden {opacity:0; transition: opacity 250ms;}
	.inline-1rem svg {height: 1rem;}
	.inline-1-5rem svg {height: 1.5rem;}
	.page_header {height: 3rem; margin:0 auto 0.5rem 0;}
	.visible {opacity:1; transition: opacity 250ms;}
/* IDs */
	div#lightbox {display: none; height: 100%; width: 100%; position: fixed; top: 0; right: 0; z-index: 1; background-color: rgba(0,0,0,0.80); backdrop-filter: blur(5px); text-align: center; color: hsla(0, 0%, 60%, 100%);}
		div#lightbox_controls {z-index: 2; position: relative; font-family: 'Symbola Regular';}
			div#lightbox_controls span.close_button { position: fixed; top: 2%; right: 2%; font-size: 2rem; cursor: pointer;}
			div#lightbox_controls span.previous_button {display: none; position: fixed; top: 43%; left: 2%; font-size: 2rem; cursor: pointer;}
			div#lightbox_controls span.next_button {display: none; position: fixed; top: 43%; right: 2%; font-size: 2rem; cursor: pointer;}
		div#lightbox_caption_box { height: 8%; max-width: 96%; margin: 2% auto; overflow-y: auto; }
			div#lightbox_caption_box p {margin: 0 auto; color: hsla(0, 0%, 60%, 100%)}
		div#lightbox_image_box { height: 86%; max-width: 96%; margin: 2% auto; position: relative; }
			div#lightbox_image_box img { max-height: 100%; max-width: 96%; position: absolute; top: 50%; right: 50%; transform: translateY(-50%) translateX(50%);}